h1{
    color: black;
    text-align:center;
    font-size:52px;
    font-weight:bolder;
    font-family:cursive;}

body{
    background-color:rgb(250, 250, 51);
}
a{
    align-items: center;
    font-size:26px;
    font-family:cursive;}